version: "3.8"

services:
  backend:
    build: .
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    env_file:
      - .env
    volumes:
      - ./uploads:/usr/src/app/uploads
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
